@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambio password";
}
<div class="row border-bottom">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1 class="primary-color">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mt-4">
        <form asp-action="ChangePassword">
            <div class="form-group">
                <input type="password" class="form-control input-password" id="password" aria-labelledby="password" asp-for="CurrentPassword" aria-required="true" required>
                <span class="password-icon" aria-hidden="true">
                    <svg class="password-icon-visible icon icon-sm"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-visible"></use></svg>
                    <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-invisible"></use></svg>
                </span>
                <label for="password">Password attuale</label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-password" aria-labelledby="newPassword" asp-for="NewPassword" aria-required="true" required>
                <span class="password-icon" aria-hidden="true">
                    <svg class="password-icon-visible icon icon-sm"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-visible"></use></svg>
                    <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-invisible"></use></svg>
                </span>
                <label for="newPassword">Nuova password</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-password" id="confirmPassword" aria-labelledby="confirmPassword" asp-for="ConfirmPassword" aria-required="true" required>
                <span class="password-icon" aria-hidden="true">
                    <svg class="password-icon-visible icon icon-sm"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-visible"></use></svg>
                    <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-password-invisible"></use></svg>
                </span>
                <label for="confirmPassword">Conferma password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Cambia password</button>
            </div>
        </form>
    </div>
</div>
