<h1 class="primary-color d-flex justify-content-center m-5"><strong>FAQ - Lavoro agile</strong></h1>
 
<div class="mb-5">
    <a href="/Home">Torna alla Home Page</a>
</div>

<!-- Filter Form -->
<div class="form-group" id="filter-form">
    @*<label for="filter">
        Ricerca una domanda
    </label>*@    
    <input id="filter" name="filter" type="text" class="form-control noEnterSubmit" placeholder="Inserisci una parola chiave o una frase" autocomplete="off" />
    <small>
        <span id="filter-help-block" class="help-block">
            Nessun filtro applicato
        </span>
    </small>
</div>

<!-- Bootstrap collapsible panels -->
<div class="panel-group searchable accordion mb-5" id="accordionExample1">
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading1">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Chi può presentare una proposta di accordo di lavoro agile?
            </div>
        </div>
        <div id="collapse1" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading1">
            <div class="accordion-body text-justify">
                Tutto il personale in servizio presso la Presidenza del Consiglio dei ministri, con contratto di lavoro a tempo determinato o indeterminato e un rapporto di lavoro a tempo pieno o a tempo parziale, può presentare una proposta di accordo di lavoro agile, purché sia adibito ad attività compatibili con la modalità di lavoro agile.
                Le attività escluse dalla modalità agile sono contenute nell’Atto del Segretario generale del 7 maggio 2018, prot. n. DIP 21385. Il personale che ha un incarico di esperto o consulente e pertanto un rapporto di collaborazione con la Presidenza del Consiglio dei ministri, considerato che non ha vincoli di presenza in servizio, non è destinatario della direttiva sul lavoro agile.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading2">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Il personale di nuova assunzione può presentare una proposta di accordo di lavoro agile durante il periodo di prova?
            </div>
        </div>
        <div id="collapse2" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading2">
            <div class="accordion-body text-justify">
                Confermando quanto previsto nella FAQ n. 1, il personale di nuova assunzione può presentare una proposta di lavoro agile anche per il periodo di prova, a condizione che siano presenti tutti i requisiti di carattere generale previsti dall’articolo 4 della direttiva del Segretario Generale 2 maggio 2019 (autonomia operativa del dipendente, coerenza con le esigenze organizzative della struttura, attività delocalizzabili, possibilità di misurare i risultati, strumentazioni tecnologiche adeguate).
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading3">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                In assenza di un accordo di lavoro agile, dal 1° gennaio 2022 si possono effettuare prestazioni lavorative in modalità agile?
            </div>
        </div>
        <div id="collapse3" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading3">
            <div class="accordion-body text-justify">
                No, in assenza di accordo individuale di lavoro agile perfezionato e quindi regolarmente sottoscritto non sarà possibile effettuare prestazioni di lavoro agile. 
                Eventuali giorni di lavoro agile erroneamente fruiti in carenza di accordo dovranno essere sanati ricorrendo ad altre fattispecie contrattuali a giustificazione dell’assenza.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading4">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                I lavoratori fragili devono comunque presentare e sottoscrivere un accordo di lavoro agile?
            </div>
        </div>
        <div id="collapse4" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading4">
            <div class="accordion-body text-justify">
                Sì, anche i lavoratori definiti “fragili” ai sensi della normativa vigente (cfr. FAQ n. 6), anche quando hanno potuto svolgere di norma l’attività lavorativa in modalità agile (fino al 31 marzo 2022), per poterlo fare, a decorrere dal 1° gennaio 2022, hanno dovuto sottoscrivere un accordo di lavoro agile.
                I lavoratori fragili, nella presentazione della proposta di accordo, devono spuntare l’opzione di “deroga autorizzata” che consente di pianificare le giornate di lavoro agile superando il limite massimo di 2 gg di a settimana.
                Fini al 31 marzo 2022, le giornate di lavoro agile pianificate dai lavoratori fragili non sono state considerate nel conteggio della prevalenza del lavoro in sede rispetto a quello da remoto (cfr. FAQ n. 5).
                Con news del 30 giugno 2022, il Dipartimento della funzione pubblica ha pubblicato delle indicazioni concernenti, tra l’altro, i lavoratori fragili, specificando che “la flessibilità già presente nella disciplina di rango primario e in quella negoziale per l’utilizzo del lavoro agile per il pubblico impiego, evidenziata già nella circolare del 5 gennaio 2022, a firma congiunta dei ministri per la Pubblica amministrazione, Renato Brunetta, e del Lavoro e delle Politiche sociali, Andrea Orlando, consente - anche dopo il 30 giugno 2022 - a legislazione vigente, di garantire ai lavoratori fragili della Pubblica amministrazione la più ampia fruibilità di questa modalità di svolgimento della prestazione lavorativa. Questa flessibilità potrà continuare a essere utilizzata, naturalmente salvaguardando l’efficienza delle singole amministrazioni, per soddisfare prioritariamente le esigenze di tutela della salute dei lavoratori più esposti al rischio di contagio da Covid-19.”.
                Alla luce di tali indicazioni, il Dipartimento per il personale ha reso noto che, per il periodo dal 1 luglio al 31 dicembre 2022, i lavoratori fragili potranno presentare istanza per lo svolgimento della prestazione lavorativa in modalità agile, in deroga al limite massimo di due giorni a settimana, utilizzando la procedura prevista dall’articolo 6, comma 3, della direttiva del Segretario generale 2 maggio 2019, come modificata dalla direttiva del Segretario generale 23 giugno 2022 e garantendo comunque, il rispetto del criterio della prevalenza dell’esecuzione della prestazione lavorativa in presenza.
                Ne consegue che, negli accordi dei lavoratori fragili sottoscritti dopo il 1° luglio 2022, pur in presenza della spunta di “deroga autorizzata”, la pianificazione di un numero di giornate di lavoro agile superiore al limite dei due giorni a settimana, dovrà avvenire nel rispetto del criterio della prevalenza, da calcolarsi pro quota rispetto alla durata complessiva dell’accordo. Tale prevalenza, relativamente al semestre 1° luglio - 31 dicembre 2022, è assicurata con la programmazione di un numero massimo di 63 giorni di lavoro agile.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading5">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                I lavoratori fragili, alla cessazione della condizione di fragilità, devono presentare un nuovo accordo?
            </div>
        </div>
        <div id="collapse5" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading5">
            <div class="accordion-body text-justify">
                Sì, all’atto della cessazione della condizione di fragilità, i lavoratori dovranno presentare un nuovo accordo, anche tramite la funzione di “revisione”, e deselezionare l’opzione di “deroga autorizzata”. Le giornate di lavoro agile fruite fino al 31 marzo 2022, in vigenza della condizione di fragilità, non verranno conteggiate ai fini del calcolo della prevalenza del lavoro in sede rispetto al lavoro agile.
                Diversamente, dal 1° luglio 2022. un lavoratore fragile, nel nuovo accordo, potrà pianificare le giornate di lavoro agile oltre il limite massimo dei due gg a settimana, ma tenendo conto del criterio della prevalenza del lavoro in sede riferito al periodo di durata del nuovo accordo. Se ad esempio, il nuovo accordo avrà decorrenza dal 1° luglio 2022 e scadenza al 31 dicembre 2022, le giornate lavorabili in modalità agile non potranno superare i 63 giorni. In caso di accordi di durata inferiore, la prevalenza va calcolata pro quota in base alla durata dell’accordo.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading6">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Nella definizione di lavoratori fragili sono ricompresi anche i dipendenti conviventi con soggetti disabili o immunodepressi?
            </div>
        </div>
        <div id="collapse6" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading6">
            <div class="accordion-body text-justify">
                No, ai sensi del comma 2 dell’articolo 26 del decreto legge 17 marzo 2020, n. 18, convertito, con modificazioni, dalla legge 24 aprile 2020, n. 27, per lavoratori fragili si intendono i lavoratori “in possesso di certificazione rilasciata dai competenti organi medico-legali, attestante una condizione di rischio derivante da immunodepressione o da esiti da patologie oncologiche o dallo svolgimento di relative terapie salvavita, ivi inclusi i lavoratori in possesso del riconoscimento di disabilità con connotazione di gravità ai sensi dell'articolo 3, comma 3, della legge 5 febbraio 1992, n. 104”.
                Non c’è, quindi, nella definizione di lavoratori fragili, alcun richiamo ai lavoratori conviventi con soggetti disabili o immunodepressi.
                Inoltre, con l’entrata in vigore dell’articolo 17, comma 2, del decreto legge 24 dicembre 2021, n. 221, convertito con modificazioni, dalla legge 18 febbraio 2022, n. 11, per soggetti fragili si intendono soltanto quei soggetti affetti dalle patologie e condizioni individuate dal decreto del Ministro della salute del 4 febbraio 2022, di concerto con i Ministri del lavoro e della pubblica amministrazione.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading7">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Domanda 7 da definire
            </div>
        </div>
        <div id="collapse7" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading7">
            <div class="accordion-body text-justify">
                Risposta 7 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading8">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Domanda 8 da definire
            </div>
        </div>
        <div id="collapse8" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading8">
            <div class="accordion-body text-justify">
                Risposta 8 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading9">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Prima della pandemia e del lavoro agile con modalità semplificate (in assenza di accordi) avevo già sottoscritto accordi di lavoro agile.</br>
                Devo creare un nuovo accordo o posso cercare un accordo precedente?
            </div>
        </div>
        <div id="collapse9" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading9">
            <div class="accordion-body text-justify">
                L’applicativo non ha precaricato gli accordi relativi ad anni precedenti. Pertanto anche chi ha presentato in passato altri accordi, dovrà inserire un nuovo accordo ma, nella sezione “Caratteristiche dell’accordo” non dovrà selezionare “Primo accordo”. L’opzione “primo accordo” serve a individuare gli accordi che potranno essere esaminati dalla segreteria tecnica per il lavoro agile.
                Tutti gli accordi che saranno sottoscritti a decorrere dal 1° gennaio 2022 saranno invece sempre disponibili sulla piattaforma.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading10">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Ho riscontrato dei dati errati tra le informazioni anagrafiche che vengono precaricate nell’applicativo, cosa devo fare?
            </div>
        </div>
        <div id="collapse10" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading10">
            <div class="accordion-body text-justify">
                L’applicativo importa dalla banca dati del personale le informazioni anagrafiche del dipendente. Nel caso in cui si riscontrassero errori nei dati precaricati e, in particolare, incongruenze sulle informazioni concernenti la struttura/ufficio/servizio di appartenenza, si suggerisce di richiedere l’aggiornamento degli stessi dati alla casella di posta elettronica bancadatipersonale@governo.it, allegando gli ordini di servizio di assegnazione.
                Dopo aver verificato l’esito dell’aggiornamento dei dati si potrà procedere con l’inserimento di una proposta di accordo.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading11">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                Nella sezione anagrafica non compare il corretto nome del responsabile dell’accordo, del capo intermedio e del capo struttura.</br> 
                Devo inserirlo manualmente?
            </div>
        </div>
        <div id="collapse11" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading11">
            <div class="accordion-body text-justify">
                In fase di prima applicazione, il proponente poteva inserire manualmente le informazioni e le mail dei soggetti appartenenti alla catena gerarchica. A regime, invece, tali informazioni saranno importate direttamente dalla banca dati del personale, pertanto, in caso di inesattezze, la segnalazione va inoltrata direttamente alla banca dati del personale (bancadatipersonale@governo.it) per l’allineamento e l’aggiornamento dei database (cfr. FAQ n. 10).
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading12">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                Domanda 12 da definire
            </div>
        </div>
        <div id="collapse12" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading12">
            <div class="accordion-body text-justify">
                Risposta 12 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading13">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Sono assegnato formalmente ad un dipartimento ma dipendo funzionalmente dal capo di una struttura di missione o da un ufficio di diretta collaborazione.</br>
                Con chi devo sottoscrivere l’accordo di lavoro agile? E a chi devo rendicontare le prestazioni lavorative svolte nelle giornate di lavoro agile?
            </div>
        </div>
        <div id="collapse13" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading13">
            <div class="accordion-body text-justify">
                L’accordo di lavoro agile va sottoscritto con il dirigente del Servizio/Ufficio/Struttura presso il quale si risulta formalmente assegnati. Analogamente le rendicontazioni settimanali andranno approvate dallo stesso dirigente responsabile con il quale è stato sottoscritto l’accordo di lavoro agile.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading14">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                Ho indicato due giorni a settimana di lavoro agile (p.e. lunedì e mercoledì), ma se poi ho necessità di cambiare le giornate in cui presterò l'attività in lavoro agile come devo fare?
            </div>
        </div>
        <div id="collapse14" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading14">
            <div class="accordion-body text-justify">
                Se si ha necessità di cambiare saltuariamente una o più giornate di lavoro agile indicate nell’accordo non occorre modificare l’accordo stesso. Il cambio della giornata potrà essere effettuato al di fuori dell’applicativo con l’autorizzazione del dirigente, in modo da allineare sia il modulo della rendicontazione che quello di rilevazione delle presenze.
                Se, invece, per esigenze organizzative e/o personali si ha necessità di concordare, da una certa data, una diversa articolazione del lavoro agile si dovrà procedere ad una modifica dell’accordo attraverso la funzione di “revisione” attivabile entrando nel dettaglio dell’accordo.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading15">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                Se ho inserito il 1° gennaio 2022 quale data di avvio dell'accordo e lo stesso viene sottoscritto in data successiva (es. 7 gennaio 2022), l'accordo potrà retroagire sanando le giornate indicate tra il 1° e il 6 gennaio?
            </div>
        </div>
        <div id="collapse15" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading15">
            <div class="accordion-body text-justify">
                No, l’accordo decorre dalla data di avvio dell’accordo se la data di sottoscrizione è antecedente. Se, invece, l’accordo è sottoscritto in una data successiva a quella proposta come data di avvio, la data di decorrenza è quella di sottoscrizione.
                Nell’esempio in questione, la data di avvio indicata all’atto della proposta di accordo è il 1° gennaio 2022 ma la sottoscrizione è avvenuta successivamente (7 gennaio 2022).
                Se la sottoscrizione fosse avvenuta in una data antecedente a quella proposta per l’avvio (es. 31 dicembre 2021), la data di avvio sarebbe coincisa con quella indicata dal proponente (1° gennaio 2022).
                Nel caso in esame, invece, la sottoscrizione è avvenuta in una data successiva, pertanto la data di avvio coinciderà con quella di sottoscrizione (7 gennaio 2022).
                In entrambi i casi resta ferma la data di fine accordo indicata all’atto della proposta.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading16">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                Se non riesco a sottoscrivere l'accordo di lavoro agile con l'applicativo informatico posso presentare istanza cartacea e avviare comunque il lavoro agile?
            </div>
        </div>
        <div id="collapse16" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading16">
            <div class="accordion-body text-justify">
                No, ai sensi dell’articolo 3, comma 2, della direttiva del Segretario generale 20 dicembre 2021, “l’accordo di lavoro agile è definito e stipulato tra il dipendente e il dirigente responsabile per il tramite dell’applicativo informatico”, pertanto le istanze cartacee non saranno ritenute valide.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading17">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                Sto compilando la sezione anagrafica e non so quale data indicare in corrispondenza della data di presa di servizio.</br>
                Sono transitato nei ruoli della PCM per mobilità ma prima ero già in servizio in PCM in posizione di comando.</br> 
                Quale data devo indicare nella data di presa servizio?
            </div>
        </div>
        <div id="collapse17" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading17">
            <div class="accordion-body text-justify">
                Nel campo “data di presa servizio” va indicata la prima data di presa servizio in PCM, a qualsiasi titolo (assunzione, comando, fuori ruolo, etc.).
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading18">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                Domanda 18 da definire
            </div>
        </div>
        <div id="collapse18" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading18">
            <div class="accordion-body text-justify">
                Risposta 18 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading19">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                Ho inviato l’accordo al dirigente responsabile ma mi sono accorta di un errore. Come posso modificare il dato errato?
            </div>
        </div>
        <div id="collapse19" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading19">
            <div class="accordion-body text-justify">
                La modifica ad un accordo può essere effettuata solo ed esclusivamente dal proponente. Pertanto, il proponente dovrà chiedere al proprio responsabile di restituire l’accordo con osservazioni tramite la funzione “richiedi modifica”. Una volta ricevuta la comunicazione del rifiuto o ddella richiesta di modifica, il proponente potrà rettificare/integrare l’accordo e ritrasmetterlo per le successive fasi approvative. Laddove il dirigente, invece, per errore, abbia rifiutato l’accordo, invece di richiederne le modifiche, il dipendente dovrà riproporre un “nuovo accordo”, non potendo più intervenire sull’accordo rifiutato.
                Si raccomanda di eliminare gli accordi in bozza per evitare inutili appesantimenti della banca dati.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading20">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                Domanda 20 da definire
            </div>
        </div>
        <div id="collapse20" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading20">
            <div class="accordion-body text-justify">
                Risposta 20 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading21">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                Sto per trasferirmi in un’altra struttura oppure devo cambiare servizio nell’ambito dello stesso dipartimento.</br>
                Devo modificare o concludere l’accordo?
            </div>
        </div>
        <div id="collapse21" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading21">
            <div class="accordion-body text-justify">
                Il trasferimento presso altra struttura comporta la chiusura dell’accordo in essere. La conclusione dell’accordo deve essere effettuata ricorrendo alla funzione di “recesso” (per giustificato motivo). Tra i giustificati motivi di recesso risulta infatti anche il cambio della struttura di appartenenza (cfr. FAQ n. 27).
                Il dipendente che quindi sta per trasferirsi ad altra struttura dovrà avere cura di inviare tempestivamente le rendicontazioni settimanali per l’approvazione del dirigente e poi avviare la procedura di “recesso per giustificato motivo”, indicando come data di recesso il giorno antecedente il trasferimento. Anche in caso di recesso, il dipendente dovrà avere cura di chiedere la valutazione al dirigente responsabile (cfr. FAQ n. 28).
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading22">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                Domanda 22 da definire
            </div>
        </div>
        <div id="collapse22" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading22">
            <div class="accordion-body text-justify">
                Risposta 22 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading23">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                Domanda 23 da definire
            </div>
        </div>
        <div id="collapse23" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading23">
            <div class="accordion-body text-justify">
                Risposta 23 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading24">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                Ho sbagliato a scrivere i risultati attesi, gli indicatori e i target del mio accordo. Cosa posso fare?
            </div>
        </div>
        <div id="collapse24" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading24">
            <div class="accordion-body text-justify">
                La direttiva del Segretario generale 20 dicembre 2021, all’articolo 3, definisce, tra l’altro, i contenuti minimi dell’accordo di lavoro agile. Tra i contenuti essenziali risultano anche “gli specifici risultati attesi e gli indicatori di misurazione definiti in coerenza con il sistema di controllo di gestione in uso presso la Presidenza del Consiglio dei ministri”, pertanto, un accordo i cui risultati attesi, indicatori e target risultino inadeguati, incoerenti o incompleti va sanato. Si può procedere, quindi, a una “revisione” dell’accordo prima della scadenza in modo da inserire i dati corretti in corrispondenza dei quali, in sede di valutazione, andranno inseriti i target raggiunti.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading25">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                Che differenza c’è tra revisione e rinnovo? Quando devo fare la revisione e quando il rinnovo?
            </div>
        </div>
        <div id="collapse25" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading25">
            <div class="accordion-body text-justify">
                La funzione di “revisione”, generalmente, deve essere utilizzata per modificare elementi inesatti o errati dell’accordo, per modificare o integrare le attività oggetto di accordo oppure per riprogrammare le giornate di lavoro agile o la data di scadenza dell’accordo, sempre nel rispetto del limite massimo dei sei mesi. Non deve invece essere utilizzata per prorogare un accordo scaduto o in scadenza, perché la proroga/rinnovo presuppone un esito positivo della valutazione che non si attiva nel caso di revisione. Dopo la sottoscrizione della revisione, si chiude in automatico l’accordo “padre”.
                La funzione di “rinnovo”, invece, deve essere utilizzata per prorogare un accordo non ancora scaduto se gli esiti della valutazione e dei monitoraggi intermedi sono positivi. La procedura di rinnovo, infatti, si attiva solo dopo valutazione positiva dell’accordo che si intende rinnovare. In caso di rifiuto del rinnovovalutazione negativa o di rifiuto del rinnovo, il dipendente dovrà attendere la scadenza dell’accordo per proporre un nuovo accordo i cui contenuti andranno definiti insieme al dirigente responsabile.
                Sia nel caso della revisione che del rinnovo si genera un “accordo figlio”. L’accordo figlio è sempre un nuovo accordo, ma mentre nel caso di revisione, l’accordo figlio determina la chiusura dell’accordo padre, nel caso di rinnovo, l’accordo figlio si genera dopo la chiusura dell’accordo padre a patto che quest’ultimo si sia concluso con esiti di monitoraggio positivi.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading26">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                Quando posso recedere dall’accordo?
            </div>
        </div>
        <div id="collapse26" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading26">
            <div class="accordion-body text-justify">
                Ciascuna delle parti può chiedere di porre fine all’accordo prima della sua naturale scadenza dando un adeguato preavviso pari ad almeno trenta giorni. Pertanto, anche nei casi in cui non sussiste un giustificato motivo di recesso (cfr. FAQ n. 27), il dipendente può attivare la funzione di “recesso pianificato”. Il recesso pianificato può essere richiesto per es. quando si vuole rinunciare all’accordo o cambiano le esigenze personali e si decide di voler tornare a svolgere l’attività lavorativa esclusivamente in presenza.
                Nel caso di recesso pianificato, la data di conclusione dell’accordo inizialmente programmata verrà fissata nel trentesimo giorno successivo alla data in cui si chiede il recesso. Una mail notificherà all’altra parte la richiesta di recesso.
                Considerato che il recesso pianificato richiede un preavviso di almeno trenta giorni, non sarà possibile recedere se la data di scadenza dell’accordo è inferiore al termine di preavviso. In tal caso l’accordo dovrà essere portato a naturale scadenza. Il dipendente potrà comunque, su autorizzazione del dirigente, rinunciare alla fruizione delle giornate di lavoro agile eventualmente pianificate e darne comunicazione alla segreteria Gerip per l’aggiornamento del sistema di rilevazione delle presenze.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading27">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                Se sopraggiungono uno o più giustificati motivi di recesso, cosa devo fare?
            </div>
        </div>
        <div id="collapse27" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading27">
            <div class="accordion-body text-justify">
                Al verificarsi di uno o più motivi giustificati di recesso (sia quelli presenti di default nell’accordo quali il mancato raggiungimento degli obiettivi programmati, la sopravvenienza di nuove esigenze organizzative, il trasferimento del dipendente ad altra struttura/ufficio o l’avvicendamento del responsabile dell’accordo, sia quelli ulteriori, eventualmente concordati tra dipendente e responsabile), si può porre fine all’accordo anche senza preavviso.
                In tal caso, la parte interessata potrà attivare la funzione di “recesso per giustificato motivo” e porre fine all’accordo fissando anche la data di chiusura dell’accordo. La data di recesso dovrà essere compresa tra la data della richiesta e la data di naturale scadenza dell’accordo. Una mail notificherà all’altra parte la richiesta di recesso.
                La procedura di “recesso per giustificato motivo” è attivabile anche su accordi con recesso pianificato, al sopraggiungere di giustificati motivi che ne consentono il recesso senza preavviso.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading28">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
                Quando posso richiedere la valutazione del mio accordo?
            </div>
        </div>
        <div id="collapse28" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading28">
            <div class="accordion-body text-justify">
                La direttiva del Segretario generale 20 dicembre 2021, all’articolo 3, comma 2, prevede che negli accordi siano indicati, quali contenuti minimi, tra l’altro, “gli specifici risultati attesi e gli indicatori di misurazione definiti in coerenza con il sistema di controllo di gestione in uso presso la Presidenza del Consiglio dei ministri” e “i tempi, i criteri e le modalità di monitoraggio dello svolgimento delle attività per la verifica e la valutazione dell’attività svolta e dei risultati finali conseguiti in relazione agli obiettivi programmati, anche ai fini di un eventuale rinnovo dell’accordo”.
                Lo stesso articolo, al comma 4, prevede che “ciascun dipendente, durante l’esecuzione dell’accordo e a conclusione dello stesso, utilizzando le specifiche funzionalità dell’applicativo, compila le schede di monitoraggio e le trasmette al dirigente responsabile per la valutazione finale e per l’eventuale rinnovo dell’accordo di lavoro agile”.
                Ne consegue che la procedura di valutazione finale dell’accordo non va effettuata soltanto in occasione di una richiesta di rinnovo dello stesso, ma va attivata sempre a chiusura di un accordo (per rinnovo, per recesso o per naturale scadenza).
                Se si intende procedere al rinnovo, la valutazione è condizione essenziale per la richiesta di proroga. Pertanto, a partire da venti giorni prima della scadenza, si attiverà il tasto “richiedi valutazione” che avvierà la procedura che deve necessariamente concludersi con una valutazione positiva per consentire il rinnovo.
                Nel caso, invece, di recesso o di accordo concluso per naturale scadenza che non viene immediatamente rinnovato, la valutazione potrà essere richiesta a partire dai venti giorni antecedenti la data di chiusura dell’accordo e anche successivamente alla chiusura dello stesso. In tal caso, la mancata valutazione non sarà bloccante per l’eventuale futura presentazione di un nuovo accordo. Sarà cura e responsabilità delle parti attivare e concludere la procedura di valutazione.
                Si segnala, infine, che la valutazione non è necessaria nel caso di revisione dell’accordo perché tale funzione non conclude un accordo vigente ma lo trasforma e lo mantiene in vita sottoforma di “accordo figlio” con altre condizioni e caratteristiche.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading29">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
                Non ho fatto in tempo ad attivare il rinnovo e l’accordo si è concluso. Posso comunque rinnovare il mio accordo?
            </div>
        </div>
        <div id="collapse29" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading29">
            <div class="accordion-body text-justify">
                Se il dipendente non è riuscito ad attivare nei tempi la procedura di rinnovo, l’accordo passerà nello stato di “accordo concluso” per naturale scadenza. Il dipendente potrà comunque presentare una nuova proposta di accordo anche se non sarà possibile recuperare in automatico i dati del precedente accordo. Anche in questo caso, sarà cura e responsabilità delle parti attivare e concludere la procedura di valutazione.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading30">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
                Ho inviato la valutazione ma non mi sono accorta che era incompleta. Cosa devo fare?
            </div>
        </div>
        <div id="collapse30" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading30">
            <div class="accordion-body text-justify">
                Se ci si accorge di aver inviato una valutazione incompleta o se il dirigente ha segnalato al dipendente che la valutazione è parziale, il dipendente può chiedere alla segreteria tecnica per il lavoro agile tramite il Portale Costumer Care (per il personale della Protezione Civile e della Scuola Nazionale dell’Amministrazione resta attiva l'email lavoroagile@governo.it), di riportare indietro la valutazione per consentirne il completamento.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading31">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
                Il dirigente mi ha detto di avermi valutato positivamente ma da sistema risulta una valutazione negativa. Cosa devo fare?
            </div>
        </div>
        <div id="collapse31" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading31">
            <div class="accordion-body text-justify">
                Se il dirigente, quando approva la valutazione dimentica di selezionare la casella della valutazione positiva, l’esito sarà negativo. Anche in tal caso, se si tratta di un errore materiale si può chiedere alla segreteria tecnica per il lavoro agile tramite il Portale Costumer Care (per il personale della Protezione Civile e della Scuola Nazionale dell’Amministrazione resta attiva l'e-mail lavoroagile@governo.it), di riportare indietro la valutazione per consentire il completamento della procedura.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading32">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                Il dirigente mi ha valutato negativamente. Cosa succede? Posso rinnovare o proporre un nuovo accordo?
            </div>
        </div>
        <div id="collapse32" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading32">
            <div class="accordion-body text-justify">
                Nel caso di valutazione negativa, il rinnovo è inibito, pertanto, il dipendente non potrà più rinnovare l’accordo con quelle caratteristiche, ma potrà comunque riproporre un nuovo accordo i cui contenuti dovranno essere concordati con il responsabile.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading33">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                Vorrei rivedere il dettaglio della valutazione. Dove lo trovo?
            </div>
        </div>
        <div id="collapse33" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading33">
            <div class="accordion-body text-justify">
                Per tutti gli accordi sottoposti a “valutazione”, accedendo al loro dettaglio e cliccando sull’apposito link “dettagli” presente in fondo all’accordo, in corrispondenza dello stato, sarà possibile visualizzare gli esiti della valutazione, i target raggiunti per ciascuna attività dell’accordo e le eventuali note inserite dal valutato e/o dal valutatore.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading34">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
                Domanda 34 da definire
            </div>
        </div>
        <div id="collapse34" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading34">
            <div class="accordion-body text-justify">
                Risposta 34 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading35">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse35" aria-expanded="false" aria-controls="collapse35">
                Domanda 35 da definire
            </div>
        </div>
        <div id="collapse35" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading35">
            <div class="accordion-body text-justify">
                Risposta 35 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading36">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse36" aria-expanded="false" aria-controls="collapse36">
                Domanda 36 da definire
            </div>
        </div>
        <div id="collapse36" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading36">
            <div class="accordion-body text-justify">
                Risposta 36 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading37">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse37" aria-expanded="false" aria-controls="collapse37">
                Quando provo a salvare su Z-Timesheet il sistema segnala l’errore: Assegnato minore delle presenze. Cosa significa?
            </div>
        </div>
        <div id="collapse37" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading37">
            <div class="accordion-body text-justify">
                Questo messaggio appare se la somma delle percentuali inserite per una o più giornate è inferiore a 100. Verificare i dati compilati.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading38">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse38" aria-expanded="false" aria-controls="collapse38">
                Ho inviato il mio timesheet settimanale ma poi mi sono accorto che c’erano giorni da controllare. Cosa posso fare?
            </div>
        </div>
        <div id="collapse38" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading38">
            <div class="accordion-body text-justify">
                Se è stato inviato un timesheet incompleto perché inviato prima della fine della settimana o per errore e quindi viene segnalato che ci sono giorni da controllare si può richiedere al dirigente la restituzione della rendicontazione per la successiva integrazione.
                Se, nel frattempo, invece, il timesheet è stato già approvato dal dirigente, la rendicontazione non potrà più essere integrata su Z-Timesheet e si dovrà ricorrere ad una rendicontazione extra-sistema (mediante compilazione di un file excel oppure semplicemente tramite scambio di corrispondenza tra dipendente e dirigente responsabile).
            </div>
        </div>
    </div>
     <div class="panel accordion-item">
        <div class="accordion-header border" id="heading39">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse39" aria-expanded="false" aria-controls="collapse39">
                Quando provo a inviare la rendicontazione mi segnala l’assenza di un approvatore. Cosa devo fare?
            </div>
        </div>
        <div id="collapse39" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading39">
            <div class="accordion-body text-justify">
                Il sistema all’atto dell’invio della rendicontazione verifica chi è il responsabile caricato in organigramma di HR Zucchetti e la rendicontazione viene inviata a tale responsabile.
                Se non risulta un approvatore, invece, potrebbero esserci dei problemi di configurazione della struttura organizzativa di appartenenza su HR Zucchetti. In questi casi si consiglia di segnalare l’anomalia al Referente di lavoro agile che informerà la Segreteria tecnica. Il referente di lavoro agile è indicato nell’accordo sottoscritto.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading40">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse40" aria-expanded="false" aria-controls="collapse40">
                Domanda 40 da definire
            </div>
        </div>
        <div id="collapse40" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading40">
            <div class="accordion-body text-justify">
                Risposta 40 da definire
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading41">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse41" aria-expanded="false" aria-controls="collapse41">
                Ho revisionato il mio accordo e ora non riesco più a rendicontare su Z-Timesheet. Perchè?
            </div>
        </div>
        <div id="collapse41" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading41">
            <div class="accordion-body text-justify">
                In caso di accordi revisionati o di nuovi accordi, occorre fare attenzione a selezionare le attività del nuovo accordo (cfr. FAQ n. 35).
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading42">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse42" aria-expanded="false" aria-controls="collapse42">
                Ho inviato la rendicontazione settimanale su Z-Timesheet ma mi sono accorta che è arrivata a un dirigente che non è il mio responsabile dell’accordo. Cosa devo fare?
            </div>
        </div>
        <div id="collapse42" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading42">
            <div class="accordion-body text-justify">
                In caso di rendicontazioni inviate a un dirigente diverso dal responsabile dell’accordo occorre chiedere, se possibile, la restituzione delle rendicontazioni trasmesse richiedendo al destinatario di effettuare il rifiuto della rendicontazione.
                Le rendicontazioni restituite potranno essere così ripresentate al nuovo soggetto approvatore.
                Ciò potrebbe verificarsi se è stato sottoscritto un accordo con un soggetto diverso da quello che è censito in banca dati come responsabile di quel servizio/ufficio/struttura o nel caso in cui il responsabile dell’accordo si è trasferito in altra struttura e non si è proceduto tempestivamente alla revisione/recesso dell’accordo.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading43">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
                Il capo struttura vuole delegare un altro dirigente per l’approvazione delle rendicontazioni settimanali. Può farlo?
            </div>
        </div>
        <div id="collapse43" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading43">
            <div class="accordion-body text-justify">
                Il capo struttura può eventualmente delegare un soggetto diverso, il quale riceverà e potrà approvare tutte le rendicontazioni settimanali del personale di quella struttura. È prevista una sola possibilità di delega.
            </div>
        </div>
    </div>
    <div class="panel accordion-item">
        <div class="accordion-header border" id="heading44">
            <div class="accordion-body collapsed primary-color font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse44" aria-expanded="false" aria-controls="collapse44">
                Le rendicontazioni su Z-Timesheet sono parziali (il dirigente si è trasferito e non è riuscito ad approvarle oppure per errore ho inviato una rendicontazione parziale integrata extra sistema).</br> 
                Il sistema mi impedisce la richiesta di valutazione o il dirigente non riesce a valutarmi?
            </div>
        </div>
        <div id="collapse44" class="accordion-collapse collapse" data-parent="#accordionExample1" role="region" aria-labelledby="heading44">
            <div class="accordion-body text-justify">
                Le rendicontazioni su Z-Timesheet e le relative approvazioni non vincolano la procedura di valutazione che deve essere effettuata sull’app lavoro agile, pertanto, anche in caso di rendicontazioni parziali o di rendicontazioni completate fuori sistema, la valutazione finale dell’accordo sarà sempre possibile.
            </div>
        </div>
    </div>
</div>

<div class="mb-5">
    <a href="/Home">Torna alla Home Page</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            //Function Mark
            $(function () {
                var mark = function () {
                    // Read the keyword
                    var keyword = $("input[name='filter']").val();

                    // Remove previous marked elements and mark
                    // the new keyword inside the context
                    $(".searchable").unmark({
                        done: function () {
                            $(".searchable").mark(keyword, {
                                "accuracy": "partially",
                                "separateWordSearch": false,
                                "diacritics": false,
                                "className": "customMark"
                            });
                        }
                    });
                };
                $("input[name='filter']").on("input", mark);
            });

            (function ($) {

                var $form = $('#filter-form');
                var $helpBlock = $("#filter-help-block");

                //Watch for user typing to refresh the filter
                $('#filter').keyup(function () {
                    var filter = $(this).val();
                    $form.removeClass("has-success has-error");

                    if (filter == "") {
                        $helpBlock.text("Nessun filtro applicato.")
                        $('.searchable .panel').show();
                    } else {

                        //Close any open panels
                        $('.collapse.show').removeClass('show');
                        $('.accordion-button').addClass('collapsed');


                        //Hide questions, will show result later
                        $('.searchable .panel').hide();

                        var regex = new RegExp(filter, 'i');

                        var filterResult = $('.searchable .panel').filter(function () {
                            return regex.test($(this).text());
                        })

                        if (filterResult) {
                            if (filterResult.length != 0) {
                                $form.addClass("has-success");
                                $helpBlock.text(filterResult.length + " domanda(e) o risposta(e) trovate.");
                                filterResult.show();
                            } else {
                                $form.addClass("has-error").removeClass("has-success");
                                $helpBlock.text("Nessuna domanda o risposta trovata.");
                            }

                        } else {
                            $form.addClass("has-error").removeClass("has-success");
                            $helpBlock.text("Nessuna domanda o risposta trovata.");
                        }
                    }
                })

            }($));
        });

        //
        //  This function disables the enter button
        //  because we're using a form element to filter, if a user
        //  pressed enter, it would 'submit' a form and reload the page
        //  Probably not needed here on Codepen, but necessary elsewhere
        //
        $('.noEnterSubmit').keypress(function (e) {
            if (e.which == 13) e.preventDefault();
        });
    </script>
}