<div class="modal" tabindex="-1" role="dialog" id="differenza-accordi-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Differenza con accordo precedente</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Chiudi">
                    <svg class="icon">
                        <use xlink:href="/lib/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body" id="diff-table">
                <div class="alert alert-info" role="alert" id="no-diff">
                    Nessuna differenza rispetto al precedente accordo
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>