@{
    ViewData["Title"] = "User Claims";
}

<div class="row">
    <div class="col px-lg-2">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Home">Home</a><span class="separator">/</span>
                </li>
                <li class="breadcrumb-item active">
                    <a href="#">Utenti / Ruoli - Claims</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row border-bottom">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1 class="primary-color">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mt-4">
        @if (User.Identity.IsAuthenticated)
        {
            <table class="table table-responsive-sm">
                @foreach (var claim in User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                        <td>@claim.Issuer</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>